/* ---------
 * Slidebars
 * 0.1
 *
 * Written by Adam Smith
 * http://www.adchsm.me/
 *
 * -------------------
 * Slidebars CSS Index
 *
 * 001 - Html, Body & JS Error
 * 002 - Site & Wrapper
 * 003 - Bar & Buttons
 * 004 - Slidebars
 */
 
/*
 * 001 - Html, Body & JS Error
 */
 
html {
	
}

body {
	
}
 
html.no-js {
	padding: 2em;
}

html.no-js h1 {
	font-size: 2em;
	margin-bottom: 0.5em;
}

html.no-js p {
	font-size: 1em;
	margin-bottom: 1em;
}

/* --------------------
 * 002 - Site & Wrapper
 */
 
#site {
	background-color: #fff; /* Main page background colour. */
	box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3); /* Shadow cast onto the slidebars when opened. */
}

.wrapper {
	max-width: 100%; /* Can be any pixel width, or use 100% to have a full width page on any sized screen. */
}

/* ---------
 * 003 - Bar
 */

#bar {
	background-color: #ff3971; /* Background colour of the bar. */
	box-shadow: /* Shadow beneath the bar, and edge highlights. */
		/* Layered single pixel shadows to create a one sided shadow effect. */
		0 5px 0 0 rgba(0, 0, 0, 0.01),
		0 4px 0 0 rgba(0, 0, 0, 0.02),
		0 3px 0 0 rgba(0, 0, 0, 0.04),
		0 2px 0 0 rgba(0, 0, 0, 0.06),
		0 1px 0 0 rgba(0, 0, 0, 0.08),
		/* Top highlight */
		0 1px 0 0 rgba(255, 255, 255, 0.1) inset,
		/* Left highlight */
		1px 0 0 0 rgba(255, 255, 255, 0.1) inset,
		/* Right highlight */
		-1px 0 0 0 rgba(255, 255, 255, 0.1) inset,
		/* Bottom lowlight */
		0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
		
	/* Glass gradient overlay. */
	background-image: -webkit-linear-gradient(top, rgba(255,255,255, 0.05) 50%, rgba(0,0,0, 0.02) 51%); /*  Webkit syntax. */
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 50%, rgba(0, 0, 0, 0.02) 51%); /* Final syntax. */
	background-size: 100% 50px;
	background-repeat: no-repeat;
}

#bar .slidebar-left-control, #bar .slidebar-right-control {
	/* These are the buttons located in the top bar, they are prefixed with #bar, so if you wish to open the slidebars from a different location, you may do so without this styling. */
	border: 1px solid rgba(0, 0, 0, 0.2); /* Button border colour. */
	box-shadow:
		/* Drop shadow */
		0 1px 0 0 rgba(255, 255, 255, 0.2),
		/* Top highlight */
		0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	padding: 5px; /* Distance between the navicon and the button border. */
	border-radius: 3px; /* Button curved corners. */
}

.navicon-line-long, .navicon-line-dot, .navicon-line-short {
	background-color: #fff; /* Navicon line colour. */
	box-shadow: 0 1px 1px rgba(38, 38, 38, 0.1); /* Navicon line shadow. */
}

/* ---------------
 * 004 - Slidebars
 */
 
.slidebars {

}
 
#slidebar-left {
	background-color: #373737; /* Slidebar left background colour. */
}

#slidebar-right {
	background-color: #373737; /* Slidebar right background colour. */
}