/* ---------
 * Slidebars
 * 0.2
 *
 * Written by Adam Smith
 * http://www.adchsm.me/
 *
 * -------------------
 * Slidebars CSS Index
 *
 * 001 - Html, Body & Viewport
 * 002 - Site, Wrapper & Clearfix
 * 003 - Slidebars
 * 004 - Bar & Icons
 * 005 - Media Queries
 */

/* ---------------------------
 * 001 - Html, Body & Viewport
 */

html {
 	width: 100%;
 	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

#viewport {
	position: absolute;
	width: 100%;
	/* Viewport height is an inline style set by slidebars.js depending on the height of the document content. */
	overflow: hidden;
}

html.no-js {
	width: auto;
	height: auto;
}

html.no-js body #viewport * {
	display: none; /* Blank out screen for viewers with JavaScript disabled. */
}

/* ------------------------------
 * 002 - Site, Wrapper & Clearfix
 */

#site {
	width: auto;
	width: -webkit-calc(100% - 30px);
	width:    -moz-calc(100% - 30px);
	width:         calc(100% - 30px);
	/* Site height is an inline style set by slidebars.js depending on the height of the document content. */
	padding: 65px 15px 15px 15px;
	position: relative;
	z-index: 3;
}

	/* #site - no calc() support */
	html.no-csscalc #site {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		width: 100%;
	}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

.clearfix {
	clear: both;
}

/* ---------------
 * 003 - Slidebars
 */

#slidebar-left, #slidebar-right {
	top: 0;
	min-height: 100%;
}

#slidebar-left {
	left: 0;
}

#slidebar-right {
	right: 0;
}

/* -----------------
 * 004 - Bar & Icons
 */

/* Bar */
#bar {
	display: table;
	z-index: 1000;
	width: auto;
	width: -webkit-calc(100%); /* Unknown iOS issue, seems to include padding within the 100%. */
	width:    -moz-calc(100% - 30px);
	width:         calc(100% - 30px);
	height: 50px;
	top: 0;
	padding: 0 15px;
}

	/* #bar - no calc() support */
	html.no-csscalc #bar {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		width: 100%;
	}

#bar .wrapper {
	display: table;
	height: 50px;
}

/* Bar cells */
.cell-left, .cell-center, .cell-right {
	display: table-cell;
	vertical-align: middle;
}

.cell-left {
	width: 26px;
	text-align: left;
	padding-right: 15px;
}

.cell-center {
	width: auto;
	text-align: center;
}

.cell-right {
	width: 26px;
	text-align: right;
	padding-left: 15px;
}

/* Buttons */
#bar .slidebar-left-control, #bar .slidebar-right-control {
	cursor: pointer;
	width: 26px;
	height: 18px;
}

#bar .slidebar-left-control {

}

#bar .slidebar-right-control {
	float: right;
}

/* Navicons */
.navicon-line-long {	
	height: 4px;
	width: 26px;
	margin: 0 0 3px 0;
	border-radius: 1px;
}

.navicon-line-dot {
	float: left;
	clear: left;
	height: 4px;
	width: 4px;
	margin: 0 3px 3px 0;
	border-radius: 1px;
}

.navicon-line-short {
	float: left;
	height: 4px;
	width: 19px;
	margin: 0 0 3px 0;
	border-radius: 1px;
}

/* ------------------------
 * 005 - Prevent Flickering
 */
 
 html, body, #viewport, #site, .wrapper, #slidebar-left, #slidebar-right, #bar {
 	-webkit-backface-visibility: hidden;
 }