/* ---------
 * Slidebars
 * 0.4
 *
 * Written by Adam Smith
 * http://www.adchsm.me/
 *
 * -------------------
 * Slidebars CSS Index
 *
 * 001 - Html, Body & JS Error
 * 002 - Site & Wrapper
 * 003 - Bar & Buttons
 * 004 - Slidebars
 */
 
/* ----------------
 * 001 - Html, Body
 */
 
html {
	
}

body {
	
}

/* --------------------
 * 002 - Site & Wrapper
 */
 
#site {
	background-color: #fff; /* Main page background colour. */
	box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3); /* Shadow cast onto the slidebars when opened. */
}

.wrapper {
	max-width: 100%; /* Can be any pixel width, or use 100% to have a full width page on any sized screen. */
}

/* ---------
 * 003 - Bar
 */

#bar {
	height: 50px; /* Set the height of the menu bar */
	background-color: #FF3971; /* Background colour of the bar. */
	box-shadow: /* Shadow beneath the bar and edge highlights. */
		/* Layered single pixel shadows to create a one sided shadow effect. */
		0 5px 0 0 rgba(0, 0, 0, 0.01),
		0 4px 0 0 rgba(0, 0, 0, 0.02),
		0 3px 0 0 rgba(0, 0, 0, 0.04),
		0 2px 0 0 rgba(0, 0, 0, 0.06),
		0 1px 0 0 rgba(0, 0, 0, 0.08),
		/* Top highlight */
		0 1px 0 0 rgba(255, 255, 255, 0.1) inset,
		/* Left highlight */
		1px 0 0 0 rgba(255, 255, 255, 0.1) inset,
		/* Right highlight */
		-1px 0 0 0 rgba(255, 255, 255, 0.1) inset,
		/* Bottom lowlight */
		0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
		
	/* Glass gradient overlay. */
	background-image: -webkit-linear-gradient(top, rgba(255,255,255, 0.05) 50%, rgba(0,0,0, 0.02) 51%); /*  Webkit syntax. */
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 50%, rgba(0, 0, 0, 0.02) 51%); /* Final syntax. */
	background-size: 100%;
	background-repeat: no-repeat;
}

#bar .slidebar-left-control, #bar .slidebar-right-control {
	/* These are the buttons located in the top bar, they are prefixed with #bar, so if you wish to open the slidebars from a different location also using these classes, you may do so without this styling. */
	border: 1px solid rgba(0, 0, 0, 0.2); /* Button border colour. */
	box-shadow:
		/* Drop shadow */
		0 1px 0 0 rgba(255, 255, 255, 0.2),
		/* Top highlight */
		0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	padding: 5px; /* Distance between the navicon and the button border. */
	border-radius: 3px; /* Button curved corners. */
}

.navicon, .navicon:before, .navicon:after {
	background-color: #fff; /* The colour of the navicon lines. */
}

/* ---------------
 * 004 - Slidebars
 */
 
#slidebar-left {
	background-color: #373737; /* Slidebar left background colour. */
}

#slidebar-right {
	background-color: #373737; /* Slidebar right background colour. */
}

/* -----------------
 * 005 - Ajax Loader
 */

#spinner {
	border-color: rgba(255, 57, 113, 0.2); /* Spinner circle colour. */
}

#spinner:before {
	border-top-color: rgba(250, 75, 124, 0.95); /* Spinner part colour. */
}